<?xml version="1.0"?>

<robot name="my_rover"
       xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:include filename="rocker.xacro"/>
    <xacro:include filename="bogie.xacro"/>

  <link name="base_link">

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>

      <geometry>
    <mesh filename="package://my_rover_description/meshes/visual/base_link.stl"
          scale="0.001 0.001 0.001"/>
</geometry>

      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>

    </visual>

  </link>
    
  <xacro:rocker
      name="left_rocker"
      parent="base_link"
      xyz="0 0.25 0"/>

  
  <xacro:rocker
      name="right_rocker"
      parent="base_link"
      xyz="0 -0.25 0"/>

  <xacro:bogie
      name="left_bogie"
      parent="left_rocker"
      xyz="0.25 0 -0.05"/>

  <xacro:bogie
      name="right_bogie"
      parent="right_rocker"
      xyz="0.25 0 -0.05"/>

</robot>