<?xml version="1.0"?>

<robot name="my_rover"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Includes -->
    <xacro:include filename="$(find my_rover_description)/urdf/links/base_link.xacro"/>
    <xacro:include filename="$(find my_rover_description)/urdf/links/rocker.xacro"/>
    <xacro:include filename="$(find my_rover_description)/urdf/links/bogie.xacro"/>
    <xacro:include filename="$(find my_rover_description)/urdf/links/wheel.xacro"/>
    <xacro:include filename="$(find my_rover_description)/urdf/properties.xacro"/>


    <!-- Base -->
    <xacro:base_link/>


    <!-- ================================================= -->
    <!-- ROCKERS                                             -->
    <!-- ================================================= -->

    <xacro:rocker
        name="left_rocker"
        parent="base_link"
        xyz="-0.1037985 0.1413 0.02"
        rpy="1.5708 0 0"/>

    <xacro:rocker
        name="right_rocker"
        parent="base_link"
        xyz="-0.1037985 -0.1413 0.02"
        rpy="1.5708 0 0"/>


    <!-- ================================================= -->
    <!-- BOGIES                                              -->
    <!-- ================================================= -->

   <xacro:bogie
    name="left_bogie"
    parent="left_rocker"
    xyz="0.26214225 -0.20  -0.10"
    rpy="3.14159 0 0"/>

   <xacro:bogie
    name="right_bogie"
    parent="right_rocker"
    xyz="0.26214225 -0.20 -0.08"
    rpy="-3.14159 0 0"/>

 
    <!-- ================================================= -->
    <!-- rear left                                 -->
    <!-- ================================================= -->

    <xacro:wheel
        name="left_rear_wheel"
        parent="left_rocker"
        xyz="-0.25707953 -0.22712987 0"
        rpy="0 0 0"/>


    <!-- ================================================= -->
    <!-- rear right                                   -->
    <!-- ================================================= -->

    <xacro:wheel
        name="right_rear_wheel"
        parent="right_rocker"
        xyz="-0.25707953 -0.22712987 0"
        rpy="0 0 0"/>


<!-- ================================================= -->
    <!-- RIGHT REAR                                         -->
    <!-- ================================================= -->

    <xacro:wheel
        name="right_middle_wheel"
        parent="right_bogie"
        xyz="-0.195206085 0.025 -0.100411217"
        rpy="0 0 0"/>
    <!-- ================================================= -->
    <!-- LEFT REAR                                          -->
    <!-- ================================================= -->

    <xacro:wheel
        name="left_middle_wheel"
        parent="left_bogie"
        xyz="-0.195206085 0.025 -0.100411217"
        rpy="0 0 0"/>

    <!-- ================================================= -->
    <!-- RIGHT MIDDLE                                       -->
    <!-- ================================================= -->

    <xacro:wheel
        name="right_front_wheel"
        parent="right_bogie"
        xyz="0.157949245 0.025 -0.130411217"
        rpy="0 0 0"/>

    <!-- ================================================= -->
    <!-- LEFT                                        -->
    <!-- ================================================= -->

    <xacro:wheel
        name="left_front_wheel"
        parent="left_bogie"
        xyz="0.157949245 0.025 -0.100411217"
        rpy="0 0 0"/>



    

    

</robot>