<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Mesh Scale -->
  <xacro:property name="mesh_scale" value="0.001 0.001 0.001"/>

  <!-- Rocker Position -->
  <xacro:property name="rocker_x" value="0.0"/>
  <xacro:property name="rocker_y" value="0.25"/>
  <xacro:property name="rocker_z" value="0.0"/>

  <!-- Bogie Position -->
  <xacro:property name="bogie_x" value="0.25"/>
  <xacro:property name="bogie_y" value="0.0"/>
  <xacro:property name="bogie_z" value="-0.05"/>

</robot>